<div class="mat-elevation-z8" style="padding: 1px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <button mat-raised-button color="accent" (click)="rentVehicle(selection.selected[0])" [disabled]="selection.selected.length != 1">
          Rent
        </button>
      </div>
      <div class="col">
        <button mat-raised-button color="primary" routerLink="/manage/vehicle">
          New
        </button>
      </div>
      <div class="col">
        <button mat-raised-button color="primary" (click)="editVehicle(selection.selected[0]);" [disabled]="selection.selected.length != 1">
          Edit
        </button>
      </div>
      <div class="col">
        <button mat-raised-button color="warn" [disabled]="selection.selected.length == 0" (click)="deleteVehicles(selection.selected);">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Search Vehicle" #input>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-select placeholder="Filter Columns" [formControl]="selectedColumns" [multiple]="true" (selectionChange)="manageView(selectedColumns.value)">
          <mat-option *ngFor="let column of vehicleColumns" [value]="column.key">{{column.humanReadable}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-spinner *ngIf="dataSource.loading$ | async"></mat-spinner>

  <mat-table #table [dataSource]="dataSource" aria-label="Vehicles" matSort matSortDirection="asc" matSortDisableClear>
    <!-- Selection Checkboxes -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container [matColumnDef]="column.key" *ngFor="let column of vehicleColumns">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.humanReadable}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row[column.key] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.length$ | async" [pageSizeOptions]="[3, 5, 10,15,20, 25]">
  </mat-paginator>
</div>
