div.mat-elevation-z8 {
  margin: 20px;
  display: flow-root;
}

mat-card {
  width: 100%;
}
output {
  width: 100%;
}



.stepper-buttons {
  width: 100%;
  margin-top: 2em;
  text-align: left;
}

.stepper-buttons button {
  margin: 1em;
}
