
<mat-card>
    <mat-card-header>
        <mat-card-title>Car Owners</mat-card-title>
        <mat-card-subtitle>{{currentAction}}</mat-card-subtitle>
    </mat-card-header>
    <form name="ownerForm" [formGroup]="ownerForm" (ngSubmit)="onSubmit()"  >
        <mat-card-content  class="owners-card-content">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="First Name"
                                name="firstName"
                                id="firstName"
                                required
                                formControlName="firstName"
                        >
                        <mat-error *ngIf="ownerForm.get('firstName').errors?.required">
                            First Name is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="Last Name"
                                name="lastName"
                                id="lastName"
                                required
                                formControlName="lastName"
                        >
                        <mat-error  *ngIf="ownerForm.get('lastName').errors?.required">
                            Last Name is Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="Mobile Number"
                                name="mobileNumber"
                                id="mobileNumber"
                                required
                                formControlName="mobilePhone"
                        >
                        <mat-error  *ngIf="ownerForm.get('mobilePhone').errors?.required">
                        Main Mobile Number is Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="City"
                                name="city"
                                id="city"
                                required
                                formControlName="city"
                        >
                        <mat-error  *ngIf="ownerForm.get('city').errors?.required">
                            City is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="Sub-City"
                                name="subCity"
                                id="subCity"
                                required
                                formControlName="subCity"
                        >
                        <mat-error  *ngIf="ownerForm.get('subCity').errors?.required">
                            Sub-City is Required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput placeholder="Wereda"
                                name="wereda"
                                id="wereda"
                                required
                                formControlName="wereda"
                        >
                        <mat-error  *ngIf="ownerForm.get('wereda').errors?.required">
                            Wereda is Required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions align="space-around">
            <button mat-button mat-button-raised type="submit" [disabled]="ownerForm.invalid" color="primary" >Save</button>
            <button mat-button mat-button-raised color="warn" >Cancel</button>

        </mat-card-actions>
    </form>
    <mat-card-footer>
        {{ownerForm.value | json}}
    </mat-card-footer>
</mat-card>
