<div class="grid-container">

  <h1 class="mat-h1">Dashboard</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6">
        <mat-card class="card card-stats">
          <mat-card-content class="card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-handshake-o"></i>
            </div>
            <p class="card-category">Partners</p>
            <h3 class="card-title">{{totalPartners}} </h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <mat-card class="card card-stats">
          <mat-card-content class="card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-user-o"></i>
            </div>
            <p class="card-category">Clients</p>
            <h3 class="card-title">{{totalCustomers}}</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <mat-card class="card card-stats">
          <mat-card-content class="card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-car"></i>
            </div>
            <p class="card-category">Rented Vehicles</p>
            <h3 class="card-title">{{rentedVehicles}}</h3>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <mat-card class="card card-stats">
          <mat-card-content class="card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-car"></i>
            </div>
            <p class="card-category">Available Vehicles</p>
            <h3 class="card-title">{{availableVehicles}}</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <mat-card class="card card-stats">
          <mat-card-content class="card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-calendar"></i>
            </div>
            <p class="card-category">Today Returns</p>
            <h3 class="card-title">{{todayReturns}}</h3>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6">
        <mat-card class="card card-stats">
          <mat-card-content class="card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-calendar"></i>
            </div>
            <p class="card-category">This Week Returns</p>
            <h3 class="card-title">{{weekReturns}}</h3>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>


  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <div style="display: block;">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <div class="row">
            <div class="col">
              <div style="display: block;     background: #141E30">
                <canvas baseChart [data]="lineChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions"
                  chartType="line" (chartHover)="chartHovered($event)" [colors]="lineChartColors" (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
