.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.main-chart-box {
max-height: 250px;
}

.dash-text {
text-align: center;
margin: 0px !important;
font-size: 1.5em;
}

.dash-value {
  font-size: 4em;
  text-align: right;
  color: indianred;
}

.dash-stat-box {
  padding: 5px;
  margin-right: 5px;
}
.dash-icons {
  float: left;
  font-size: 5em;
  padding-top: .35em;
  color:  rgb(46, 46, 173);
}

mat-card.card-stats {
  padding: 0px !important;
  margin-bottom: 1em;
  border-color: rgb(46, 46, 173);

}
