<section>
  <form [formGroup]="form" name="rentDetail">
    <div class="row">
        <div class="col">
            <mat-form-field>
              <mat-label>Vehicle</mat-label>
              <mat-select placeholder="Vehicles List" id="vehicleId" name="vehicleId" formControlName="vehicleId" required>
                <mat-option *ngFor="let car of CARS" [value]="car.VEHICLE_ID">{{car.plate_code}}-{{car.plate_number}}</mat-option>
              </mat-select>
              <mat-error></mat-error>
            </mat-form-field>
          </div>
      <div class="col-8">

          <label>
              Date Time Range From:</label>
              <input [owlDateTimeTrigger]="rentDuration" [owlDateTime]="rentDuration"
                    formControlName="selectedMoments"
                     [selectMode]="'range'">
              <owl-date-time #rentDuration></owl-date-time>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Owner Renting Price per day" name="ownerPrice" id="ownerPrice" formControlName="ownerRentingPrice"
            required autocomplete="off">
          <mat-hint>The price you got the car</mat-hint>
          <mat-error></mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Renting Price per day" id="rentingPrice" name="rentingPrice" formControlName="rentedPrice" required
            autocomplete="off">
          <mat-hint>The price the renter will pay per day</mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Initial payment collected" name="initialPayment" id="initialPayment" formControlName="initialPayment"
            required autocomplete="off">
          <mat-error></mat-error>
          <mat-hint>total Money paid by the client </mat-hint>
        </mat-form-field>

      </div>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Collateral" name="collateral" id="collateral" formControlName="colateralDeposit"
            required autocomplete="off">
          <mat-error></mat-error>
          <mat-hint>total Money paid by the client </mat-hint>
        </mat-form-field>

      </div>
    </div>
  </form>
</section>
