.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

mat-list
{
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  width: 200px;
}
mat-list mat-icon {
  margin-right: auto;
}

mat-icon {
  position: absolute;
  right: 0px;
}