<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav
    #drawer
    class="sidenav "
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>

      <a *ngFor="let navigation of naigationList; let lastIndex = last;"
      mat-list-item [routerLink]="navigation.path" routerLinkActive="active"  >
      <mat-icon color="primary"  class="material-icons">{{navigation.icon}}</mat-icon>
      {{navigation.label}}
      </a>

        </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-print-none">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a   routerLink="/" class="home-link" style="color: white;" > <i class="fa fa-home"></i>  <span> Bionic Rent Manager</span>  </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
