/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";


.left-aligned-button {
  margin-left: 1em !important;
  float: left;
}

mat-form-field {
  width: 100%;
}
 .form-button-box  {
   display: block !important;
  margin-top: 2em !important;
  text-align: right !important;
  padding-right: 2em !important;
}

div.form-button-box > button {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

div.view-options-block {
  margin-bottom: 1.5em;
  text-align: right;
  padding-right: 2em;
  padding-bottom: 1em;
}
div.view-options-block button {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 1em;
}

section {
  margin: 20px;
  padding: 10px;
}

form {
  width: 100%;
}



form.bionic-form-alignment {
  margin: 20px !important;
  padding: 40px !important;
}


mat-spinner {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

 Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

 Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
*/


@media print {
  @page {
    margin: 5px !important;
    padding: 0px !important;
    border: none !important;

  }
  mat-sidenav.sidenav {
    display: none !important;
    width: 0px !important;
  }
  mat-toolbar {
    display: none !important;
  }
  .print-section {
    position: fixed !important;
    left:0 !important;
  }
}

.mat-cell, .mat-footer-cell {
  font-size: .8em;
}

.mat-column-select.cdk-column-select {
  flex: none !important;
  margin-right: 2em !important;
}
