<div class="mat-elevation-z8">
    <div class="container">
        <div class="row">
          <div class="col">
            <button mat-raised-button color="primary" routerLink="/manage/owner/">New</button>
          </div>
          <div class="col" >
            <button mat-raised-button color="primary" (click)="editOwner(selection.selected[0]);   "
            [disabled]="selection.selected.length != 1">Edit</button>
          </div>
          <div class="col" >
            <button mat-raised-button color="warn"
                  [disabled]="selection.selected.length == 0"
                  (click)="deleteOwner(selection.selected);" >Delete</button>
          </div>
        </div>
      </div>
    <mat-form-field>
        <input matInput placeholder="Search Vehicle" #input>
      </mat-form-field>
        <div class="spinner-container" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
    </div>
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Vehicle Owners">
<!-- Selection Checkboxes -->
<ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">{{i + 1}}</mat-cell>
    </ng-container>

    <!--First Name Column -->
    <ng-container matColumnDef="first_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.first_name}}</mat-cell>
    </ng-container>
      <!--Last Name Column -->
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.last_name}}</mat-cell>
    </ng-container>
    <!--Mobile Number Column -->
    <ng-container matColumnDef="mobile_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.mobile_number}}</mat-cell>
    </ng-container>
    <!--city Column -->
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>city</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.city}}</mat-cell>
    </ng-container>
      <!--Sub City Column -->
    <ng-container matColumnDef="sub_city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sub City</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.sub_city}}</mat-cell>
    </ng-container>
      <!--Wereda Column -->
      <ng-container matColumnDef="wereda">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Wereda</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.wereda}}</mat-cell>
      </ng-container>
      <!--Registered On Column -->
      <ng-container matColumnDef="Registered_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Registered On</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.Registered_on}}</mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.totalOwners$ | async"
    [pageSizeOptions]="[3,5, 10, 20, 30]">
  </mat-paginator>
</div>
